# scheduler database
postr/schedule/master_schedule.sqlite
postr/schedule/master_schedule.sqlite-journal

# Twitter
postr/twitter/twitter_blob.csv
postr/twitter/twitter_graphing.csv
postr/twitter/twitter_stream.txt

# Instagram
postr/instagram/instagram_graphing.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Annoying workspace stuff
.idea/
.idea/workspace.xml
.idea/vcs.xml

# Mac store
.DS_Store

# Config file
postr_config.ini
postr_config_test.ini
*.ini
*.old

# Log files
logs/

# Vim swapfiles
*~
*.swp
*.swo

# Endline for OS Crlf
# https://stackoverflow.com/questions/1822849/what-are-these-ms-that-keep-showing-up-in-my-files-in-emacs
core.autocrlf = True
