aiohttp==1.0.5
apscheduler==3.2.0
aspy.yaml==1.1.1
astroid==2.0.4
async-timeout==3.0.1
asyncio==3.4.3
asynctest==0.12.2
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
cached-property==1.5.1
certifi==2018.8.24
cfgv==1.1.0
chardet==3.0.4
coverage==4.5.1
Cython==0.28.5
discord.py==0.16.12
docutils==0.14
facebook-sdk
fbchat==1.4.1
flake8==3.6.0
future==0.16.0
gitdb2==2.0.4
GitPython==2.1.11
google-api-python-client==1.7.4
google-auth
google_auth_oauthlib
identify==1.1.7
idna==2.7
imageio==2.1.2
InstagramAPI==1.0.2
isort==4.3.4
kivy
lazy-object-proxy==1.3.1
lxml==4.2.5
matplotlib==3.0.0
mccabe==0.6.1
more-itertools==4.3.0
moviepy==0.2.3.2
multidict==4.4.2
mypy==0.630
mypy-extensions==0.4.1
nodeenv==1.3.2
oauth2
oauthlib==2.1.0
pluggy==0.7.1
praw==6.0.0
prawcore==1.0.0
pre-commit==1.11.1
py==1.6.0
pycodestyle==2.4.0
pyflakes==2.0.0
pygame==1.9.4
Pygments==2.2.0
pylint==2.1.0
pytest==3.8.1
pytest-asyncio
PyTumblr==0.0.8
PyYAML==3.13
requests==2.20.0
requests-oauthlib==1.0.0
six==1.11.0
slackclient
smmap2==2.0.4
textblob==0.15.1
toml==0.9.6
tox==3.4.0
tweepy==3.6.0
typed-ast==1.1.0
update-checker==0.16
urllib3==1.23
virtualenv==16.0.0
websockets==3.4
wrapt==1.10.11
